@import url('https://fonts.googleapis.com/css?family=Roboto+slab:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*
030710 rich black
FFFFFF white
0D4176 indigo dye (darkest)
1D73EA blue crayola (medium)
3588CA green blue crayola (lightest)
9C6615 golden brown
*/
* {
    font-size: 10px;
}
body {
    background-color: #030710;
}
p {
    font-size: 1.6rem;
}
ul li a {
    font-size: 1.6rem;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}
/*---------------------------------------------------Navbar*/
/*--Copied & adapted from https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/--*/
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(29, 115, 234, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 2rem;
}
.navbar .navbar-nav a {
    color: #1D73EA;
    font-family: 'Exo', serif;
}
.navbar .navbar-nav .active a {
    color: #0D4176;
}
.navbar .navbar-toggler{
    border: 0;
}
.navbar-brand {
    position: absolute;
    top: 0;
    right: 0;
}

/*---------------------------------------------------Images*/
.navbar-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 5.5rem;
    background: url("../images/dave_logo.jpg") no-repeat center;
    background-size: cover;
}
.psychodrama {
    position: relative;
    background: url("../images/psychodrama_art.jpg") no-repeat center;
    min-height: 36rem;
    background-size: 100%;
    max-width: 53.3rem;
    max-height: 53.3rem;
}

/*---------------------------------------------------Reviews*/
.reviews {
    color: #fff;
    font-family: 'Roboto Slab', serif;
}
.reviews p {
    padding-left: 1rem;
}
.reviews p a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.brits-video{
    width: 100%;
    height:100%;
    min-height: 26rem;
}

/*---------------------------------------------------About*/
.about {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    padding-top:5rem;
}
.about p {
    padding-left: 1rem;
}
.about p a {
    text-decoration: none;
    text-decoration: underline;
    color: #fff;
    font-size: 1.5rem;
}

/*Copied and adapted from https://www.bootdey.com/snippets/view/simple-horizontal-timeline#css*/
.hori-timeline .events {
    border-top: 0.3rem solid #e9ecef;
    width:100%;
}
.hori-timeline .events .event-list {
    position: relative;
    margin-right: 0;
    display: inline-block;
    width: 15%;
    padding-top: 4.5rem;
    vertical-align:top;
    }

.hori-timeline .events .event-list:before {
    content:attr(date);
    position: relative;
    height: 5.6rem;
    border-right: 2px dashed #dee2e6;
    top: 0;

    content:attr(data-dates);
    position:absolute;
    display:block;
    font-weight:500;
    font-size:0.8em;
    padding:0;
    margin:0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 3.8rem;
    left: 0;
    right: 0;
    width: 7.5rem;
    margin: 0 auto;
    border-radius: 0.4rem;
    padding: 0.2rem 0.4rem;
}
.event-date{
    background-color: #1D73EA;
    color:#fff;
}
.timeline-heading{
    padding-top:2rem;
}

/*---------------------------------------------------Showcase*/
.showcase{
    padding-top: 5rem;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}
.embedded-music{
    width:100%;
    height:8rem;
}
#cover-art-carousel{
    position: relative;
    vertical-align:center;
    margin: auto;
    height:30rem;
    width:30rem;
}
.showcase-music{
    padding: 5rem 0 5rem 0;
}
.embedded-music-img{
    vertical-align: center;
    width:100%;
    height:auto;
}
.carousel-image{
    padding: 5rem 0 5rem 0;
    width:100%;
    height: 100%
}
.showcase-video{
    width: 100%;
    height:100%;
    min-height: 30rem;
    padding: 5rem 0 5rem 0;
}
/*---------------------------------------------------Shows*/

/*---------------------------------------------------Footer*/
#footer-details .col {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 6.5rem;
}
#footer-details .col .list-inline-item{
    color: #1D73EA;
}
#footer-details .col .list-inline-item i {
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1.5rem;
    color: #1D73EA;
}
#footer-details .col h5 {
    font-size: 1.5rem;
    color: #1D73EA;
}
/*---------------------------------------------------Block Dividers*/
/*Copied and adapted from bootsrap4 project*/
.block-divider {
    width: 3.5rem;
    height: .5rem;
    border: 0;
    background-color: black;
}
.block-divider--white {
    background-color: #fff;
}
.block-divider--blue {
    background-color: #1D73EA;
}
.block-divider--thin{
    width: 100%;
    height: .2rem;
}
/*---------------------------------------------------Buttons*/
.btn--newsletter {
    color: #fff;
    background-color: #1D73EA;
    padding:0 0.3rem;
    font-size: 2rem;
}
.btn--dark {
    color: #fff;
    background-color: #0D4176;
}

/*---------------------------------------------------Modal*/

#NewsletterModal .modal-content {
    background-color: #1D73EA;
    color: #fff;
}
#emailHelp {
    color: #fff;
}
#NewsletterModal .modal-content .form-group{
    font-size:2rem;
    }
#NewsletterModal .modal-content .form-group label{
    font-size:2rem;
}
/*---------------------------------------------------Media Queries*/
@media (min-width: 576px){
    #footer-details .col .list-inline-item i {
    font-size: 2rem;
    }
    #footer-details .col h5 {
        font-size: 2rem;
    }
}


@media (min-width: 768px) {
    .reviews {
        padding-top: 2rem;
    }
    .embedded-music{
    width:75%;
    }
    .embedded-music-img{
    width:75%;
    }
        #footer-details .col .list-inline-item i {
    font-size: 3rem;
    padding: 0 2.5rem 0 2.5rem;
    }

}

@media (min-width: 992px) {
    .reviews {
        color: #fff;
        font-size: 120%
    }
    .reviews p {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .reviews p a {
        font-size: 1.5rem;
    }
    .carousel-image{
    padding:0;
    }
    .showcase-video{
    min-height: 40rem;
    }
    #footer-details .col {
    height: 7.5rem;
    }
}
